/* Styles for the habit detail container */
.habitDetail::-webkit-fill-available {
  flex: 1; /* Grow and shrink to fill available space */
  display: flex; /* Display as a flex container */
  justify-content: space-between; /* Space evenly between children */
  align-items: center; /* Align items vertically */
}

/* Styles for the card container */
.cardContainer {
  display: block; /* Display as a block element */
  flex-direction: column; /* Arrange children in a column */
  background: #fff; /* Background color */
  padding: 10px 30px; /* Padding */
  border-radius: 6px; /* Border radius */
  margin: 0 auto; /* Center horizontally */
  margin-top: 50px; /* Top margin */
  width: 70%; /* Set the width */
  border-radius: 6px; /* Border radius */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; /* Box shadow */
}

/* Styles for the habit tile */
.habitTile {
  display: flex; /* Display as a flex container */
  justify-content: center; /* Center horizontally */
  font-weight: 600; /* Font weight */
  font-size: 24px; /* Font size */
  color: "black"; /* Text color */
}

/* Styles for the parent status */
.parentStatus {
  display: flex; /* Display as a flex container */
  justify-content: space-between; /* Space evenly between children */
}

/* Styles for the button group */
.btnGrp {
  display: flex; /* Display as a flex container */
  flex-direction: row; /* Arrange children in a row */
  justify-content: space-between; /* Space evenly between children */
}

/* Styles for the habit detail buttons */
.habitDetail button {
  border-radius: 6px; /* Border radius */
  padding: 10px; /* Padding */
  width: fit-content; /* Set the width based on content */
  font-size: 16px; /* Font size */
  border-radius: 3px; /* Border radius */
  margin-top: 20px; /* Top margin */
}

/* Hover styles for the habit detail buttons */
.habitDetail button:hover {
  cursor: pointer; /* Cursor style on hover */
}

/* Focus styles for the habit detail buttons */
.habitDetail button:focus {
  outline: none; /* Remove focus outline */
}

/* Styles for the save button */
.habitDetail .saveBtn {
  background: #bd3f3f; /* Background color */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding */
}

/* Styles for the back button */
.habitDetail .backBtn {
  background: #fff; /* Background color */
  border: 1.5px solid #bd3f3f; /* Border */
  color: #0c0505; /* Text color */
  padding: 10px 20px; /* Padding */
}
